<!-- <div{{ attributes }}>-->
     <!-- component HTML -->
<!-- </div> -->

<div class="card m-4">
  <div class="card-body">
    <h5 class="card-title">{{ this.blogpost.blog }}</h5>
    <p class="card-text">{{ this.blogpost.content }}</p>
  </div>
</div>
